.styledKnob {
  transform: scale(0.6);
  margin-top: -20px;
}

.knobValue {
  font-family: sans-serif;
  /* color: white !important; */
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #222221;
}
